.nav_bar {
    position: fixed;
    background-color: rgb(0, 161, 148);
    text-align: center;
    align-content: center;
    display: flex;
    list-style-type: none;
    line-height: 50px;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 10px;
    z-index: 999;
}

.nav_bar a {
    padding: 1px 6px;
    margin-right: 10px;
    border: 1px outset black;
    border-radius: 3px;
    color: black;
    background-color: rgb(0, 255, 234);
    font-family: Calibri;
    text-decoration: none;
    font-size: 20px;
    min-width: 150px;
    transition: background-color 0.2s ease;
}

.pagnation {
    position: fixed;
    top: 74px;
    align-content: center;
    left: 0;
    margin: 0;
    display: flex;
    text-align: center;
    /* overflow: hidden; */
    width: 100%;
    margin: 0;
    padding: 10px;
    z-index: 999;
}

.sort_by {
    color: rgb(241, 253, 255);
    font-family: "Cascadia Code", "Calibri";
    background: black;
    -moz-appearance: none;
    appearance: none;
    background: none;
}

.sort_by_label {
    color: rgb(241, 253, 255);
    font-family: "Cascadia Code", "Calibri";
    white-space: pre-wrap;
}

.nav_bar a:hover {
    background-color: rgb(0, 167, 153);
}

.nav_bar * {
    padding-right: 10px;
}
.dropdown {
    position: relative;
  display: inline-block;
}

.title {
    font-size: 30px;
    font-family: Calibri;
}
body {
    margin-top: 80px;
    background-color: #191b20;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.show {display:block;}

.card_quantity {
    display: grid;
    text-align: center;
    justify-content: center;
    width: 30px;
    margin-left: 10px;
    color: rgb(241, 253, 255);
    font-family: "Cascadia Code", "Calibri";
    margin-right: 10px;
}

.card_block {
    margin-top: 10px;
    position: relative;
    border: 1px solid rgb(82, 149, 156);
    border-radius: 10px;
    width: 100%;
    align-content: center;
    align-items: center;
    height: 170px;
    display: flex;
    background-color: #2e3138;
}

.card_image {
    padding: 10px;
    height: 150px;
    border-left: 1px solid rgb(82, 149, 156)
}

.card_title,
.card_set {
    font-family: "Cascadia Code", "Calibri";
    font-size: 30px;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    height: 50%;
    color: rgb(241, 253, 255);
}

.card_set {
    font-size: 16px;
}

.collection_box {
    height: 100%;
    width: 300px;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    border-right: 1px solid rgb(82, 149, 156);
    border-left: 1px solid rgb(82, 149, 156);
}
.save_button {
    margin-top: 10px;
}