{% extends "base.html.jinja" %}
{% block content %}
<div style="color:white">
    <p>Welcome to the TCG Supertool! Home Page is a WIP</p>
    <p>Only use this tool in one tab</p>
    <div style="display: inline;">
        <p style="display: inline">You can use a website like</p>
        <a style="display: inline" href="https://pokemoncard.io/">https://pokemoncard.io/</a>
        <p style="display: inline">to find the ID of cards</p>
    </div>
</div>
{% endblock %}